body{
  margin: 0px;
  padding: 0;
  background-color: #eeeeee;
}
body::-webkit-scrollbar{
  width: 5px;
}

.header1{
  left: 0;
  top: 0;
  position: fixed;
  background:#5C7795;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 1s ease-in-out;
  z-index: 1000;
}
.header1.sticky{
  display: none;
}
.header2.stickyup{
  top:0;
  left: 0;
  height: 80px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  transition: 1s ease-in-out;
  background:rgba(0,0,0,0.5);
  color: #ffffff;
  z-index: 1000;
}
.header2.stickyup a,
.header2.stickyup h2
{
  color: #ffffff
}

.header2{
  background: #ffffff;
  width: 100%;
  left: 0;
  top: 50px;
  position: fixed;
  height: 100px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  transition: 1s ease-in-out;
  text-align: center;
  align-items: center;

}
.nav-item{
  display: flex;
  flex-direction: row;
}
.nav-item ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav-item ul li{
  padding: 10px;
}
.nav-item ul li a{
  text-decoration: none;
  color: #5C7795;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
}
.left-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.search-input{
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}

.cart-btn{
  padding: 10px 10px;
  border-radius: 60px;
  border-color: #5C7795;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 40px;
  cursor: pointer;
}
.flag{
  display: flex;
  flex-direction:row;
  margin: 5px;
  cursor: pointer;
}
.logo{
  color: #5C7795;
}
.home-image{
  margin-top: 12%;
  display: flex;
  justify-content: space-between;
}




/* tool tip */

.tooltip {
  position: relative;
  display: block;
}
.tooltip div {
  visibility: hidden;
  width: 180px;
  color: #171717;
  background: #ffffff;
  border-radius: 6px;
  position: absolute;
  z-index: 2000;
  top: 100%;
  margin-left: -45px;
}
/* .tooltip div::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0,0,0,0.5) transparent;
} */
.horzline{
  border-bottom: 1px solid #dd219e;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 1000;
}
.tooltiptext ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}
.tooltiptext ul li a{
  color: black;
  border:2px solid black;
  width: 100%;
  height: 100%;
  z-index: 2000;
}




td select{
  display: flex;
  align-items: center;
  justify-content: center;
}



@media (max-width: 1320px) {
  .cartscreen {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    max-width: 800px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    flex-direction: column;
  }

  .cartscreen__right {
    margin: 1rem;
  }
}


/* login */

.login-page{
  width: 100%;
  height: 100vh;
  background: #eeeeee;
}
.login-area{

}

.log{
  display: flex;
  flex-direction: column;
  position: absolute;
  box-shadow: 1px 1px 5px  rgba(0,0,0,0.3);
  background: #ffffff;
  width: 400px;
  padding: 30px 20px;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  opacity: 0.7;
}
.log input[type="text"],.log input[type="password"],select{
  border: 0;
  background: none;
  display: black;
  margin:20px auto;
  text-align: center;
  border: 2px solid #5C7795 ;
  padding: 14px 10px;
  outline: none;
  color: black;
  border-radius: 60px;
  transition: 0.25s;
  
}
.log h1{
  color: black;
  text-transform:uppercase;
  font-weight: 500;
}
.log input[type="text"]:focus,.log input[type="password"]:focus{
 width: 280px;
  border-color: #5C7795;
}

.log a{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid green;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition:24px;
    transition :0.25s;
    cursor: pointer;
    text-decoration: none;
}
.log a:hover{
  background: #5C7795; 
}

/* moving cart image */

img.zoom{
  position: relative;
  top: -30%;
  left: 50%;
  width: 80px;
  height: 100px;
  opacity: 1;
  animation: zoom 1s forwards ease;
  transition: 2s;
}
@keyframes zoom{
  0%{opacity: 0;}
  25%{opacity: 0.7;}
  50%{opacity: 1; left:80%}
  75%{opacity: 0.7;}
  100%{opacity: 0; left: 90%;}
}
h3{
  display: none;
  justify-content: center;
  align-items: center;
  color: orange;
}
h3.message2{
  display: flex;
}


/* cart area */

table{
  border-collapse: collapse;
  overflow: auto;
  background: #ffffff;
  border-radius: 40px;
}
tbody tr,
thead tr{
  border-top: 1px solid #5C7795;
  border-bottom:1px solid #5C7795;
  overflow: auto;
}
thead td{
  font-weight: 700;
  overflow: auto  ;
}
td{
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #222;
}
tr td:last-child{
  display: flex;
  justify-content: center;
}

.table-responsive{
  width: 100%;
  overflow-x: auto;
}
.card-body{
  background: #ffffff;
}
.product-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total-calc-area{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total-area{
  border: 1px solid #5C7795;
}
.clearbutton{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid green;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition:24px;
    transition :0.25s;
    cursor: pointer;
    text-decoration: none;
}



/* register information */
.register-info{
  position: relative;
  box-shadow: 1px 1px 5px  rgba(0,0,0,0.3);
  background: #ffffff;
  width: 100%;
  height: auto;
  padding: 10px 10px;
  text-align: center;
  opacity: 0.7;
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.register-info button{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid;
  padding: 10px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition:24px;
  transition :0.25s;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: large  ;
}
.clear{
  width: 400px;
  background-color: #ff0101;
}
.buy{
  width: 500px;
  
}
.register-info select,
.register-info input{
  border: 0;
  background: none;
  display: black;
  margin:20px;
  text-align: center;
  border: 2px solid #5C7795 ;
  padding: 14px 10px;
  outline: none;
  color: black;
  border-radius: 60px;
  transition: 0.25s;
}
.register-info h1{
  color: black;
    text-transform:uppercase;
    font-weight: 500;
}
.map{

  width: 400px;
  height: 500px;
}
.register-info-area{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}